<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <title>
        Products
    </title>
</head>

<body>

    <div class="container">
        <div class="row mt-5 justify-content-center">
            <div class="col d-flex justify-content-center">
                <div class="card" style="width: 40%;">
                    <div class="card-body">
                        <h5 class="card-title text-center">Products Below - Currently Viewing:
                            <%=category.toUpperCase()%>
                        </h5>
                        <p class="card-text text-center">Use the below buttons to filter</p>
                    </div>
                    <div>

                        <div class="row">
                            <div class="col-lg-3 mt-1">
                                <a class="btn btn-secondary" href="/products" style="width: 100%;">
                                    All</a>
                            </div>
                            <div class="col-lg-3 mt-1">
                                <a class="btn btn-secondary" href="/products?category=vegetable"
                                    style="width: 100%;">Vegetable</a>

                            </div>
                            <div class="col-lg-3 mt-1">
                                <a class="btn btn-secondary" href="/products?category=fruit"
                                    style="width: 100%;">Fruit</a>

                            </div>
                            <div class="col-lg-3 mt-1">
                                <a class="btn btn-secondary" href="/products?category=dairy"
                                    style="width: 100%;">Dairy</a>

                            </div>
                        </div>

                    </div>

                    <ul class="list-group list-group-flush mt-3">
                        <% for (product of products) { %>
                            <li class=" list-group-item text-center">
                                <h3 class="mb-0 pb-0">
                                    <%= product.name %>
                                </h3>

                                <a class="btn btn-info mt-1" href="/products/<%= product.id %> ">Show
                                    Detail</a>
                                <a class="btn btn-success mt-1" href="/products/<%= product.id %>/edit">Edit</a>
                                <a class="btn btn-danger mt-1" href="/products/<%= product.id %>/delete">Delete</a>

                            </li>
                            <% } %>
                    </ul>

                    <div class="card-body text-center">
                        <a class="btn btn-primary" href="/products/new" role="button">Submit a New Product</a>

                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>